<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/planets/<%= planet._id%>?_method=PUT" method="POST">
      <label for="name">Planet Name:</label>
        <input type="text" name="name" required value="<%= planet.name %>">
        <label for="radius">Radius:</label>
       <input type="text" name="radius" value="<%= planet.radius %>">
        <label for="hasRings">Has Rings:</label>
        <input type="checkbox" name="hasRings" <%= planet.hasRings ? "checked" : "" %>>
        <label for="orbitalPeriod">Orbital Period:</label>
        <input type="number" name="orbitalPeriod" value="<%= planet.orbitalPeriod %>">
        <button type="submit">Update Planet</button>
        </form>
</body>
</html>